/*---------------------------------------------------------------------------------------------
REFERENCES
I redesigned the responsive navigation bar using the code below:
Responsive Pure CSS Menu 
https://morioh.com/p/9655fb8c1dad
https://github.com/wilsmex/edu/tree/master/responsive_menu_css_only/finish
-----------------------------------------------------------------------------------------------
This website is a recreated version from one of Danny's previous projects 
and from the projects "Snowball Challenge" & "Innovation Camp Website".
http://www.danny.informatikk4.net/Oppgaver/6%20-%20Elektrisk%20Sparkesykkel/index_ELSS.html
https://danny1401.github.io/Snowball-Challenge/index.html
https://github.com/danny1401/Innovation-Camp-Website/index.html
-----------------------------------------------------------------------------------------------*/

body {
	padding: 0;
	margin: 0;
	background-color: #E0E0E0;
	font-family: Tahoma, Geneva, sans-serif;
	overflow-x: hidden;
}
div {letter-spacing: 0.4;}
ul.list {list-style-type:none; padding:5 5; margin:5 5;}

.subtitle {
	position: relative;
	top: 7.9vw;
	width: 35vw;
	padding: 13px 0;
	color: white;
	background-color: #600080;
	border: 2px solid black;
	font-size: 2.8vw;
}
h2 {margin-bottom: 5px;}



/*---------------------------INDEX------------------------------*/
#maintitle {
	position: relative;
	top: 20vw;
	max-width: 55%;
	padding: 23px 2vw;
	color: white;
	background-color: #600080;
	border: 3px solid black;
	font-size: 3.6vw;
	letter-spacing: 1;
}
#sub1 {position: relative; top: 37.4vw;}
#box1 {
	position: relative;
	top: 37.5vw;
	height: 27.2vw;
	width: 66vw;
	padding: 1vw 4vw;
	background-color: white;
	border: 2px solid black;
	font-size: 1.3vw;
	text-align: left;
	line-height: 1.85;
}
#sectionI {height:75%;}
#midI { position:relative; width:100%; float:left;}



/*---------------------------SCHEDULE------------------------------*/
/* SECTION DOS */
#boxSC1 {
	position: relative;
	top: 8.2vw;
	height: 20vw;
	width: 76.1vw;
	padding: 0.4vw 4vw;
	background-color: white;
	border: 2px solid black;
	font-size: 1.3vw;
	text-align: left;
	line-height: 1.8;
}
#midSC1 { position:relative; width:100%; float:left; margin-bottom: 50px;}

/* SECTION UNO */
#tabell {
	position:relative; 
	top:7vw; 
	margin-bottom: 4vw;
	background-color:darkgrey;
	border: 2px solid black;	
}
td { 
	padding: 15px 25px;
	line-height: 1.5;
	background-color: white;
	text-align: center;
}
#font {font-size:1.5vw;}
#sectionSC2 {height:75%; }
#midSC2 { position:relative; width:100%; float:left;}




/*----------------------STAFF-------------------------*/
/* SECTION UNO */
.box {
	position: relative;
	top: 8.2vw;
	height: 16.6vw;
	width: 40.5vw;
	padding: 0.4vw 2.8vw;
	padding-right: 0.3.8vw;
	background-color: white;
	border: 2px solid black;
	font-size: 1.3vw;
	text-align: left;
	line-height: 1.7;
}
.image {
	position: relative;
	height: 17.5vw;
	width: 18.5vw;
	border: 2px solid black;
	background-color: white;
}

#staff1 {top: 8.2vw;} #img1 {top: 8.2vw;}
#staff2 {top: 5.2vw;} #img2 {top: 5.2vw;}
#staff3 {top: 2vw;}   #img3 {top: 2vw;}

#section1 {height:50%;}
#left1 { position:relative; width:46%; float:left; }
#right1 { position:relative; width:26%; float:left;}
#side1 { position:relative; width:14%; float:left;}


/*----------------------------CONTACT US-----------------------------*/
#box5 {
	position: relative;
	top: 7.8vw;
	height: 27.6vw;
	width: 50.5vw;
	padding: 0.4vw 2.8vw;
	padding-right: 0.3.8vw;
	background-color: white;
	border: 2px solid black;
	font-size: 1.3vw;
	text-align: left;
	line-height: 1.7;
}
#email {
	color: black;
	font-weight: normal; 
	text-shadow: none;
	font-family: HelveticaNeue, Helvetica, Arial, "Lucida Grande", sans-serif;
}
#part {line-height:2.5; font-size:1.45vw;}
.socialmedia {
	position: relative;
	top: -5.6vw;
	left: 25vw;
	width: 30vw;
	text-align: center;
}
.sm-icon {
	width: 4.5vw;
	height: 4.5vw;
	margin: 0px 9px;
	border: 2px solid black;
	border-radius: 18px;
}



/*---------------------------FOOTER------------------------------*/
.footer {
	height: 40px;
	width: 100%;
	padding: 15px 20px;
	background-color: #4d0066;
	border-top: 3px solid black;
	color: white;
	float: left;
	text-align: center;
}
#footerI {margin-top: 36vw;}
#footerSC {margin-top: 6vw;}
#footerST {margin-top: -1vw;}
#footerC {margin-top: 11vw;}

#email-F {
	position: relative;
	top: 8px;
	color: white;
	font-size: 19px;
	font-weight: 700; 
	text-shadow: none;
	font-family: HelveticaNeue, Helvetica, Arial, "Lucida Grande", sans-serif;
}
.leftF {width:30.5%; float:left;}
.midF {width:39%; float:left;}
.rightF {width:28%; float:left;}




/*----------------------------RESPONSIVE DESIGN----------------------------------*/
@media only screen and (max-width:800px) {
  /* For mobile phones: */
	#maintitle {top:28vw; max-width:70%; font-size:5vw; padding:17px 5vw; line-height:1.4;}
	.subtitle {top:20vw; font-size:3.4vw; padding:13px 15px;}
	
	/* INDEX */
	#sectionI, #midI { width:100%; }
	#box1 {top:41vw; width:66vw; height:100vw; padding:1vw 7vw; font-size:2.7vw;}
	
	/* SCHEDULE */
	#midSC1 {width:100%;}	
	#boxSC1 {top:22vw; width:66vw; height:56vw; padding:1vw 7vw; font-size:2.3vw;}
	
	#tabell {position: relative;top:20vw;}
	td {padding: 1vw 0vw; font-size:2vw;}
	#font {font-size:2.5vw;}
	
	#sectionSC2, #midSC2 {width:100%;}	

	/* STAFF */
	.box {height:21.7vw; width:50vw; padding:0.4vw 2.8vw; font-size:1.8vw;}
	.image {height: 22.5vw; width: 23.5vw; margin-left:5vw;}
	#left1 {width:55%;}
	#side1 {width:7%;}

	#staff1 {top: 22vw;}    #img1 {top: 22vw;}
	#staff2 {top: 5.5vw;}     #img2 {top: 5.5vw;}
	#staff3 {top: -11vw;}   #img3 {top: -11vw;}
	
	#section1 {height:40%;}

	/* CONTACT */
	#box5 {top:23vw; width:70vw; height:57vw; padding:1vw 5vw; font-size: 2.3vw;}
	#part {line-height:2.3; font-size:2.6vw;}
	.socialmedia {
		position: absolute;
		top: 47.4vw;
		left: 38.5vw;
		width: 45vw;
	}
	.sm-icon {width:7vw; height:7vw; margin:0px 3px; border-radius:13px;}
	
	/* FOOTER */
	#footerI {margin-top: 50vw; height:26vw;}
	#footerSC {margin-top: 30vw; height:26vw;}
	#footerST {margin-top: -30vw; height:26vw;}
	#footerC {margin-top: 30vw; height:26vw;}
	#email-F {top: -3vw; font-size: 3.5vw;}
	
	#sectionF, .leftF, .midF, .rightF {width:93%; margin-bottom:5vw;}
}